/* Gerais */

/* Variáveis de cor */
:root {
    --cor0: #f2a71b;
    --cor1: #f28705;
    --cor2: #f2c0a2;
    --cor3: #593122;
    --cor4: #bf755a;
    --branco: white;
    --preto: black;
}


.bg-primary-color { 
    background-image: linear-gradient(to bottom left, var(--branco), var(--cor0), var(--cor1));;
    /* background-color: var(--cor0); */
}

.bg-secondary-color {
    background-color: var(--cor1);
}


/* Header */
#navbar {
    border-bottom: 1px solid var(--cor3);
    padding: 0.5rem 1rem;
}

.navbar-brand img {
    width: 80px;
}

.navbar button {
    color: var(--cor3);
}

.navbar a:hover {
    border-bottom: 1px solid var(--preto);
    color: var(--cor3);
}

.navbar a {   
    color: var(--cor3);
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}